*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: white;
}

/* navbar */
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/background.jpg);
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 850px;
    padding: 16px;
}
.logo{
    width: 11%;
    padding: 9px;
}
.button{
    margin-right: 100px;
    padding: 25px;
}
.button select{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid white;
    margin-right: 20px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 17px;
    font-weight: lighter;
    
}
.button button{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bolder;
}

.button button:hover{
    background-color: rgb(232, 92, 92);
}

/* container content */
.container_content{
    height: 85vh;
    width: 90%; 
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15vw;
}

.container_content h1{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container_content h5{
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.container_content h6{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.container_content input,
.question_footer .button__con input{
    width: 370px;
    height: 50px;
    background-color:rgba(0, 0, 0,0.5);
    border: 1px solid white;
    color:rgba(white);
    font-size: 17px;
    padding: 20px;
}

.container_content button,
.question_footer .button__con button{
    width: 180px;
    height: 50px;
    background-color: rgb(242, 2, 2);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container_content button:hover,
.question_footer .button__con button:hover{
    background-color: rgb(238, 91, 91);
}

/* divider for horizontal line  */
.divider{
    border: 4px solid rgb(48, 47, 47);
    width: 100%;
}

/* TV CONTENT */
.container_tv,
.mobile_container,
.apple_tv,
.children{
    background-color: black;
    color: white;  
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.container_tv .tv_content h1,
.mobile_content h1,
.apple_TV_content h1,
.children h1
{
    font-size: 60px;
    font-weight: bolder;
    width: 100%;
}

.tv_content h5,
.mobile_content h5,
.apple_TV_content h5,
.children h5{
    font-size: 25px;
    font-weight: lighter;
}

/* Question part */
.question_part{
    background-color: black;
    color: white;
    width: 100%;
    height: 110vh;
}
.question_part_heading{
    margin-left: 600px;
    padding: 20px;
}

.Q{
    margin: 0px 300px 0px 300px ;
    width: 60%;
    height: 70px;
    background-color: rgb(28, 27, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Q:hover{
    background-color: rgb(77, 74, 74);
}


.Q h4{
    margin-left: 30px;
    font-size: 20px;
    font-weight: lighter;
}

.Q i{
    margin-right: 30px;
}


.question_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_footer h5{
    font-size: 20px;
    font-weight: lighter;
}

footer{
    padding: 0px;
    margin: 0px;
    height: 50vh;
    background-color: black;
}
.footer_contents{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_content ul li{
    list-style: none;
}
